  /*ContactoForm.module*/
  .doto {
    font-family: "Doto", serif;
    font-optical-sizing: auto;
    font-size: 35px;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "ROND" 0;
      line-height: 20px;
  }
 
  form { 
    position: relative;
    max-width: 600px;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    min-height: 100%;
    margin-bottom: 20px;
  }

  .form h5{
    font-family: "Doto", serif;
    font-size: 35px;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 26px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
.button{
  background-color: rgb(120, 120, 120);
  color:#ffffff;
  padding-left:25px;
  padding-right:25px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
}
 
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    font-family: "Doto", serif;
   font-weight: 500;
    display: block;
    margin-bottom: 8px;
    font-size: 25px;
    
    color: black;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .error {
    border-color: #e74c3c;
  }
  
  .errorMsg {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 4px;
  }
  

  