.container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  justify-content: center;
  align-items: center;
  margin:20px ;
  margin-top: 0px;
  margin-right: 20px;
  
  
   
  /* background-image: url("/common-bg.svg");  */
}

